ion-card{
    width: 400px;
    padding: 10px;
}
p{
    padding: 20px 0;
}
#amount-group{
    ion-input{
        width: 150px;
        color: var(--sol-stake-prime);
        margin: 0 auto;
        text-align: center;
        --padding-start: 0;
        font-size: 22px;
        font-weight: bold;
        --padding-bottom: 0;
    }
    ion-range{
        --knob-background: var(--sol-stake-active);
        --bar-background: var(--sol-stake-prime);
    }
    small{
        display: block;
        text-align: center;
    }
}
#select-wsolWallet-wrapper{
    margin: 15px 0;
    ion-select{
        border: 1px dashed var(--sol-stake-prime);
        padding: 10px;
    }
}
ion-button{
    --background: white;
    --color: var(--sol-stake-active);
    --padding: 10px 36px;
    --transition:all 0.3s ease; 
    --border-radius: var(--sol-stake-button-border-radius);
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: 0.6px;
    --opacity: 0.9;
    width: 100%;
    &:hover{
        --opacity: 1;
    }
    &:disabled{
        --opacity: 0.5;
    }
}