/* Ionic Variables and Theming. */
/* This is just a placeholder file For more info, please see: */
/* https://ionicframework.com/docs/theming/basics */

/* To quickly generate your own theme, check out the color generator */
/* https://ionicframework.com/docs/theming/color-generator */
:root{
    --sol-stake-prime: #2c3c6c;
    --sol-stake-second: #393e46;
    --sol-stake-active: #c23fda;
    --sol-stake-disabled: #eeeeee;
    --sol-stake-alert: #ffba93;
    --sol-stake-succ: #00ffa3;
    --sol-stake-err: #ff1e1e;
    --sol-stake-button-border-radius: 12px;
}