<ion-card>
    <ion-card-header>
        <ion-card-subtitle style="font-size: 22px;">undelegate stake account</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
        <div class="form-group" id="amount-group">
            <ion-label>how much SOL you want to undelegate from your stake account?</ion-label>
            <span>
                <ion-input  #amountInput placeholder="0"></ion-input><small>$SOL</small>
            </span><br>
            <small>bare-in-mind: when you undelegate from vote account there is a cooldown time period of 1 epoch</small>
        </div>
        
        <ion-button [disabled]="amountInput.value == 0" (click)="deactivate()">deactivate</ion-button>
        <small *ngIf="sendBtnClicked">please approve transaction on wallet provider popup</small>
    </ion-card-content>
</ion-card>